body {
    background-color: #001f3f;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    justify-content: center;
    text-align: center;
}

#level-title {
    font-size: 2.5rem;
    margin: 20px;
    color: yellow;
}

.color-box {
    height: 180px;
    width: 180px;
    border-radius: 30px;
    cursor: pointer;
    border: 5px solid black;
}

#green { background-color: #28a745; }
#red { background-color: #dc3545; }
#yellow { background-color: #ffc107; }
#blue { background-color: #007bff; }

.pressed {
    opacity: 0.6;
}
